body {
  margin: 0%;
  padding: 0%;
}
.btn-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
}
/* Container CSS */
.searchInputContainer {
  margin-top: 10px;
}
.searchInput {
  width: 100%;
  height: 44px;
  padding-left: 26px;
  border: 1px solid #b4b0b0;
  border-radius: 5px;
  outline: none;
}
.col-9 {
  margin-left: -19px;
}
.productResultContainer {
  height: 100%;
  padding: 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}
.searchResultContainer {
  padding: 10px;
}
.productResultContainer img {
  width: 100%;
  transition: transform 0.2s;
}
.productInfoContainer {
  position: absolute;
  width: 100%;
  height: 51px;
  bottom: 0;
  left: 0;
  padding: 9px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #b5153d80;
}
.productResultContainer img:hover {
  transform: scale(1.1);
}
.productResultContainer:hover {
  cursor: pointer;
}
.searchResultContainer .col-4 {
  padding: 0px !important;
}
.posOrderContainer {
  padding: 0px !important;
  border-left: 4px solid #b5153d;
}
/* header CSS */
.pos_header {
  background: #ff5c85;
  text-align: center;
  padding-bottom: 10px;
}
.pos_header .logo {
  color: #fff;
  font-weight: bold;
  font-size: 75px;
  margin: 0px !important;
}
.pos_header .timeAndDate {
  color: #fff;
  font-size: 15px;
}
.alignRight {
  text-align: right !important;
}
.pos_header a {
  font-size: 44px;
  margin-right: 20px;
  color: #fff;
  text-decoration: none;
}
/* POS content CSS */
#pos_items_tbl th {
  color: #6b6365;
  font-size: 16px;
}
#pos_items_tbl td {
  font-size: 20px;
}
.pos_items_btn {
  color: #ff5c85;
}
#pos_items_tbl tbody tr:nth-child(odd) {
  background: #ffe3ea;
}
.item_total {
  font-size: 28px;
  padding-left: 10px;
  padding-right: 14px;
  font-weight: bold;
}

.item_total--value {
  float: right;
  font-size: 34px;
}
.item_total--label {
  font-size: 21px;
  margin-top: 10px;
  display: inline-block;
}
.checkoutBtnContainer {
  margin-top: 89px;
  padding: 20px;
}
.checkoutBtn {
  font-size: 45px;
  text-align: center;
  display: block;
  text-decoration: none;
  border: 2px solid #ff5c85;
  border-radius: 5px;
  color: #ff5c85;
}
.checkoutBtn:hover {
  text-decoration: none;
  background-color: #ff5c85;
  color: #fff;
  transition: 0.5s;
}
.item_total_container {
  margin-top: 100px;
}
/* Dialog confirm CSS */
.dialogProductName {
  font-size: 20px;
  font-weight: bold;
  color: #6a6a6a;
}
.dialogProductPrice {
  float: right;
}
.noData {
  text-align: center;
  font-size: 22px;
  padding: 51px;
  color: #707070;
}
.quantityUpdateBtn {
  text-decoration: none;
  font-size: 20px;
}
.quantityBtn_plus {
  text-decoration: none;
  color: green;
}

.quantityBtn_minus {
  text-decoration: none;
  color: red;
}
.quantityUpdateBtn:hover {
  text-decoration: none;
}
